<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <button (click)="previousPage()" class="page-link">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>

    <li *ngFor="let nr of pageCount" class="page-item">
      <button (click)="setPage(nr)" class="page-link">{{ nr + 1 }}</button>
    </li>

    <li class="page-item">
      <button (click)="nextPage()" class="page-link">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>

<!-- *ngFor="let pageNR of pageCount"  -->
