<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li [ngClass]="{ disabled: activePage == 1 }" class="page-item">
      <button (click)="previousPage()" class="page-link">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>

    <li
      *ngFor="let nr of itemCount"
      [ngClass]="{ active: nr == activePage - 1 }"
      class="page-item"
    >
      <button (click)="setPage(nr)" class="page-link">
        {{ nr + 1 }}
      </button>
    </li>

    <li
      class="page-item"
      [ngClass]="{ disabled: activePage == itemCount.length }"
    >
      <button (click)="nextPage()" class="page-link">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
<br>

<!-- *ngFor="let pageNR of pageCount"  -->
