<ul class="nav nav-tabs">
  <li class="nav-item ms-2">
    <a [ngClass]="{ active: testLink() === '' }" class="nav-link" routerLink=""
      >Home</a
    >
  </li>

  <li *ngFor="let link of roots" class="nav-item ms-2">
    <a
      [ngClass]="{ active: testLink() === link.url }"
      class="nav-link"
      routerLink="{{ link.url }}"
      >{{ link.title }}</a
    >
  </li>

  <li [hidden]="testLink().indexOf('search') !== 0" class="nav-item">
    <p tabindex="-1" class="nav-link disabled active">Search Results</p>
  </li>

  <li class="nav-item ms-auto me-5" style="height: 37px">
    <app-search-bar class="active"> </app-search-bar>
  </li>
</ul>
<!-- make for each function -->
