<div class="modal backdrop" tabindex="-1" style="display: block">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ game.name }}</h5>
        <button type="button" class="btn-close" (click)="modalOff()"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-row flex-wrap mb-3 mx-3" style="gap: 2px">
          <div *ngFor="let tags of game.tags">
            <span *ngIf="tags.language == 'eng'" class="badge bg-secondary">{{
              tags.name
            }}</span>
          </div>
        </div>
        <div class="container-fluid">
          <img
            *ngFor="let image of game.short_screenshots"
            src="{{ image.image }}"
            class="img-thumbnail"
            alt="{{ game.name }}screenshot ID:{{ image.id }}"
          />
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" (click)="btnFunc(game)">{{ btnTag }}</button
          ><!-- must pass as input-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- @todo add more information -->
